[Unit]
Description=accuknox-feeder-service
After=kubearmor-vm-adapter.service kubearmor-relay.service spire-agent.service

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-feeder-service/
EnvironmentFile=/opt/accuknox-feeder-service/conf/env
{{- range .ProxyExtraArgs }}
Environment={{ . }}
{{- end }}
{{- if .ProxyEnabled }}
Environment="JOIN_TOKEN={{ .JoinToken }}"
{{- end }}
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-feeder-service/accuknox-feeder-service.log
StandardError=append:/opt/accuknox-feeder-service/accuknox-feeder-service-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-feeder-service/accuknox-feeder-service.log
StandardError=file:/opt/accuknox-feeder-service/accuknox-feeder-service-err.log
{{- end }}
ExecStart=/opt/accuknox-feeder-service/accuknox-feeder-service
Restart=always
RestartSec=10

{{- if .CPUEnabled }}
CPUQuota={{ .CPUQuota | default "10%" }}
{{- end }}

{{- if .MemEnabled }}
MemoryMax={{ .MemoryMax | default "250M" }}
OOMPolicy={{ .OOMPolicy | default "stop" }}
{{- end }}

[Install]
WantedBy=multi-user.target