[Unit]
Description=KubeArmor

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/kubearmor/
ExecStart=/opt/kubearmor/kubearmor
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/kubearmor/kubearmor.log
StandardError=append:/opt/kubearmor/kubearmor-err.log
{{- else }}
StandardOutput=file:/opt/kubearmor/kubearmor.log
StandardError=file:/opt/kubearmor/kubearmor-err.log
{{- end }}
Restart=always
RestartSec=10

{{- if .CPUEnabled }}
CPUQuota={{ .CPUQuota | default "25%" }}
{{- end }}

{{- if .MemEnabled }}
MemoryMax={{ .MemoryMax | default "600M" }}
OOMPolicy={{ .OOMPolicy | default "stop" }}
{{- end }}

[Install]
WantedBy=multi-user.target
