[Unit]
Description=Spire Agent
{{- if .PartOfVMScan }} 
PartOf=rra.service
{{- end }}

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/spire-agent/
ExecStart=/opt/spire-agent/spire-agent run
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/spire-agent/spire-agent.log
StandardError=append:/opt/spire-agent/spire-agent-err.log
{{- else }}
StandardOutput=file:/opt/spire-agent/spire-agent.log
StandardError=file:/opt/spire-agent/spire-agent-err.log
{{- end }}
Restart=always
RestartSec=10

{{- if .CPUEnabled }}
CPUQuota={{ .CPUQuota | default "10%" }}
{{- end }}

{{- if .MemEnabled }}
MemoryMax={{ .MemoryMax | default "250M" }}
OOMPolicy={{ .OOMPolicy | default "stop" }}
{{- end }}

[Install]
WantedBy=multi-user.target