[Unit]
Description=kubearmor-vm-adapter
After=kubearmor.service

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/kubearmor-vm-adapter/
ExecStart=/opt/kubearmor-vm-adapter/kubearmor-vm-adapter

{{- range .ProxyExtraArgs }}
Environment={{ . }}
{{- end }}
{{- if .ProxyEnabled }}
Environment="JOIN_TOKEN={{ .JoinToken }}"
{{- end }}

{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/kubearmor-vm-adapter/kubearmor-vm-adapter.log
StandardError=append:/opt/kubearmor-vm-adapter/kubearmor-vm-adapter-err.log
{{- else }}
StandardOutput=file:/opt/kubearmor-vm-adapter/kubearmor-vm-adapter.log
StandardError=file:/opt/kubearmor-vm-adapter/kubearmor-vm-adapter-err.log
{{- end }}
Restart=always
RestartSec=10

{{- if .CPUEnabled }}
CPUQuota={{ .CPUQuota | default "10%" }}
{{- end }}

{{- if .MemEnabled }}
MemoryMax={{ .MemoryMax | default "250M" }}
OOMPolicy={{ .OOMPolicy | default "stop" }}
{{- end }}

[Install]
WantedBy=multi-user.target